<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

<title>Weave Concierge Service</title>
  
<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css"> 
	body {
		color: #4f4f4f;
		background-color: White;
		font-family: Trebuchet, Verdana, Helvetica, sans-serif;
	}
	/*Client likes cornflower blue, so don't change. */
	h1, h2, h3 {
		color: Black;
		font-family: "Century Gothic", Calibri;
	}
	p {
		color: Teal;
		text-align: justify;
		font-size: 75%;
	}
	h1 {
		text-align: center;
		font-size: 3em;
	}
	address {
		background-color: Black;
		color: #fff;
	}
	nav {
		background-color: Black;
		color: #fff;
	}
</style>

</head>

<body>
<div id="container">
<img src="images/weave_icon.png" alt="weave" title="Weavelogo" width="539" height="118">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://weave.in/">Weave Concierge</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index">Home</a></li>
            <li><a href="https://www.linkedin.com/in/jiongzhangphd">About</a></li>
            <li><a href="input">Input</a></li>
            <li><a href="output">Output</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </div>
    
<h1>Welcome!</h1>

<section>
<h2>Who you want to meet?</h2>

<p>People want to have professional meeting to extend proffessional network.</p>

</section>

<section>
<h2>Weave finds you the perfect meeting</h2>

<p>Go to a cafe on Friday morning to have a great meeting.</p>

<aside><p>Check out our <a href="weave.in">website</a>.</p> </aside>
</section>

<footer>
<address>All contents copyright &copy;2015, Weave | 
<a href="mailto:wszjzhang@missouri.edu?subject=Mail from website&body=Dear Zookeeper">Email Us</a>
</address>
</footer>
</div>
</body>
</html>
